a{
    margin:0;
}

ul {
    float: left;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    margin-left: -40px;
}

ul li {
    list-style: none;
    margin-left: 50px;
    margin-top: 1px;
    font-size: 16px;
    font-family: Arial;
}

ul li a {
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover {
    color: #008DFF;
}

ul li a:active {
    color: #ff7200;
}

#bttn2 {
    width: 100px;
    height: 30px;
    background: #008DFF;
    border: 2px solid #008DFF;
    color: #fff;
    margin-left: 550px;
    font-size: 17px;
    font-family: Arial;
    font-weight: bold;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    transition: 0.2s ease;
    cursor: pointer;
}
#bttn2:hover{
    opacity: .7;
}
        


.img03 {
    width: 50px;
    margin-left: 10px;
    cursor: pointer;
}

.welcome {
    color: white;
    font-family: Calibri;
    margin-right: 200px;
}

.footer {
    font-family: Calibri;
    color: white;
    margin-top: 10px;
}

h4.footer {
    color: blue;
}

.fa {
    padding: 15px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

h5.footer {
    text-align: center;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #f159be;
    color: white;
}

.fa-youtube {
    background: #ff0000;
    color: white;
}

hr {
    width: 900px;
}